* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #3a0ca3, #7209b7);
  height: 100vh;
}

.hidden {
  display: none;
}

.app {
  display: flex;
  background: #fff;
  margin: 30px;
  border-radius: 20px;
  height: calc(100vh - 60px);
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #f8f9ff;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul li {
  list-style: none;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar ul li.active {
  background: #4f46e5;
  color: white;
}

/* Content */
.content {
  flex: 1;
  padding: 25px;
}

.card {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  width: fit-content;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-area {
  display: flex;
  gap: 10px;
}

.search-area input {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.icon-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f1f5f9;
}

.primary {
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* Board */
.board {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 15px;
  border-radius: 15px;
}

.todo { background: #eef2ff; }
.progress { background: #fff7ed; }
.done { background: #fef2f2; }

/* Task Card */
.task {
  background: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.task-top {
  display: flex;
  justify-content: space-between;
}

.task-left {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #c7d2fe;
}

.task-title {
  font-weight: bold;
}

.task-desc {
  font-size: 13px;
  color: #555;
}
